@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@100&display=swap');

*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 100%;
  overflow: hidden;

}

.container {
  display: grid;
  text-align: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  gap: .2rem;
  grid-template-columns: 1.1fr 1fr 1fr;
  grid-template-rows: .2fr 2fr;
  grid-template-areas: 
  "title title title"
  "side main main";

}

.navbar, .main_container, .side, .side_left{
  color: white;
  background-color: #161515;
}

.navbar {
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}


.header h1 {
  font-size: 3rem;
  justify-content: flex-start;
  font-family: 'Megrim', cursive;
}


.main {
  grid-area: main;
  background-color: "white";
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.top_5 {
  margin: 1rem 7rem;
  height: 12rem;
}

.top_5 , th, td {
  border-top: 1px solid transparent;
  border-collapse: collapse;
  color: white;
  padding: rem;
  font-size: 1.2rem;
}

.top_5 th {
  padding-bottom: .5rem;
  border-top: none;

}

.top_5 td {

  padding: .3rem;
  white-space: nowrap;

}

.top_5 tr {
  text-align: left;
}

.top_5 tr:nth-child(even), .live_prices tr:nth-child(even){
    background-color: #7e7e7e;

}


.side {
  grid-area: side;
  display: flex;
  background-color: #161515;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 1rem;

}

.live_prices {
  width: 100%;
  white-space: nowrap;
  max-width: 100%;

}

.live_prices, tr {
  border-collapse: separate;
  border-spacing: 0 1rem;
  color: white;


}

.live_prices tr {
  display: table-row;
  width: 1rem;

}

.live_prices td {
  margin-bottom: 3rem;

}

.side h4 {
  margin: 1.5rem;
  margin-bottom: 0;
  font-size: 1.8rem;
}


@media (max-width: 800px) {

  body{
    min-height: 100vh;
    overflow: scroll;
  }

  .container {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .navbar{

      order: 1;
      justify-content: center;
    }

    .navbar h1{

      font-size: 2rem;
    }

    .side{

      order: 2;
    }
    .main{
      
      order: 3; 
    }

    .live_prices, tr {
      align-self: center;
    }

}





