<html class="no-js">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Eostrix</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>

        <div class="container">

        <div class="navbar">
            <header class="header">
                <h1>Eostrix</h1>
            </header>

            <nav>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            
        </div>
    
        <div class="main_container">
            <section class="box main">

                <h2 id="values">The Big 5</h2>
    
                    <div class="chart">
                        <img src="static/images/chart.png" alt="chart">
                
                        <h3>BTC/USD</h3> 
                    </div>
            </section>
        </div>
           
           <section class="box side">
            <table class="live_prices">
                <tr>
                 <th>Currency</th>
                 <th>Price</th>
                </tr>

                {% for items in crypto %}
                <tr class={{items}}>
                    <td>
                        {{items}}
                    </td>
                    {% set id = items + "1" %}
                    <td id={{id}}></td>
                </tr>

                {% endfor %}
                </table>
            </section>
        

            <section class="box side_left">        
                <table class="live_prices">
                    <tr>
                     <th>Currency</th>
                     <th>Price</th>
                    </tr>
                    </table>
                </section>
        </div>

        <script src="static/app.js" type="text/javascript"></script>  
    </body>
</html>