<html class="no-js">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Eostrix</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">


    <script>

    // setTimeout(function(){
    //        location.reload();},10000); // 5000 milliseconds means 5 seconds.
    </script>
    </head>
    <body>

        <div class="container">

        <div class="navbar">
            <header class="header">
                <h1>Eostrix</h1>
            </header>

            <nav>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            
        </div>
    
        <div class="main_container">
            <section class="box main">

                <h2>The Big 5</h2>
                <!-- <hr> -->
                <!-- <table class="top_5">
                    <tr>
                     <th>Currency</th>
                     <th>Price</th>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
                    <tr>
                        <td>XMR/BTC</td>
                        <td>2.230384</td>
                    </tr>
                    <tr>
                        <td>USDT/USD</td>
                        <td>178.99473</td>
                    </tr>
                    </table> -->


                    <div class="chart">
                        <img src="static/images/chart.png" alt="chart">
                
                        <h3>BTC/USD</h3> 
                    </div>
            </section>
        </div>


           
           <section class="box side">
            <table class="live_prices">
                <tr>
                 <th>Currency</th>
                 <th>Price</th>
                </tr>
                <tr>
                    <td>BTC/USD</td>
                    <td>1.96542</td>
                </tr>
                <tr>
                    <td>ETH/BTC</td>
                    <td>2343.22</td>
                </tr>
                <tr>
                    <td>LTC/DOGE</td>
                    <td>15.6893</td>
                </tr>
                <tr>
                    <td>XMR/BTC</td>
                    <td>2.230384</td>
                </tr>
                <tr>
                    <td>USDT/USD</td>
                    <td>178.99473</td>
                </tr>
                <tr>
                    <td>BTC/USD</td>
                    <td>1.96542</td>
                </tr>
                <tr>
                    <td>ETH/BTC</td>
                    <td>2343.22</td>
                </tr>
                <tr>
                    <td>LTC/DOGE</td>
                    <td>15.6893</td>
                </tr>
                <tr>
                    <td>XMR/BTC</td>
                    <td>2.230384</td>
                </tr>
                <tr>
                    <td>USDT/USD</td>
                    <td>178.99473</td>
                </tr>
                <tr>
                    <td>BTC/USD</td>
                    <td>1.96542</td>
                </tr>
                <tr>
                    <td>ETH/BTC</td>
                    <td>2343.22</td>
                </tr>
                <tr>
                    <td>LTC/DOGE</td>
                    <td>15.6893</td>
                </tr>
                <tr>
                    <td>XMR/BTC</td>
                    <td>2.230384</td>
                </tr>
                <tr>
                    <td>USDT/USD</td>
                    <td>178.99473</td>
                </tr>
                <tr>
                    <td>BTC/USD</td>
                    <td>1.96542</td>
                </tr>
                <tr>
                    <td>ETH/BTC</td>
                    <td>2343.22</td>
                </tr>
                <tr>
                    <td>LTC/DOGE</td>
                    <td>15.6893</td>
                </tr>
                <tr>
                    <td>XMR/BTC</td>
                    <td>2.230384</td>
                </tr>
                <tr>
                    <td>USDT/USD</td>
                    <td>178.99473</td>
                </tr>
                <tr>
                    <td>BTC/USD</td>
                    <td>1.96542</td>
                </tr>
                <tr>
                    <td>ETH/BTC</td>
                    <td>2343.22</td>
                </tr>
                <tr>
                    <td>LTC/DOGE</td>
                    <td>15.6893</td>
                </tr>
                <tr>
                    <td>XMR/BTC</td>
                    <td>2.230384</td>
                </tr>
                <tr>
                    <td>USDT/USD</td>
                    <td>178.99473</td>
                </tr>
                <tr>
                    <td>BTC/USD</td>
                    <td>1.96542</td>
                </tr>
                <tr>
                    <td>ETH/BTC</td>
                    <td>2343.22</td>
                </tr>
                <tr>
                    <td>LTC/DOGE</td>
                    <td>15.6893</td>
                </tr>
       
                </table>
            </section>
        

            <section class="box side_left">
              
                <table class="live_prices">
                    <tr>
                     <th>Currency</th>
                     <th>Price</th>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
                    <tr>
                        <td>XMR/BTC</td>
                        <td>2.230384</td>
                    </tr>
                    <tr>
                        <td>USDT/USD</td>
                        <td>178.99473</td>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
                    <tr>
                        <td>XMR/BTC</td>
                        <td>2.230384</td>
                    </tr>
                    <tr>
                        <td>USDT/USD</td>
                        <td>178.99473</td>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
                    <tr>
                        <td>XMR/BTC</td>
                        <td>2.230384</td>
                    </tr>
                    <tr>
                        <td>USDT/USD</td>
                        <td>178.99473</td>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
                    <tr>
                        <td>XMR/BTC</td>
                        <td>2.230384</td>
                    </tr>
                    <tr>
                        <td>USDT/USD</td>
                        <td>178.99473</td>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
                    <tr>
                        <td>XMR/BTC</td>
                        <td>2.230384</td>
                    </tr>
                    <tr>
                        <td>USDT/USD</td>
                        <td>178.99473</td>
                    </tr>
                    <tr>
                        <td>BTC/USD</td>
                        <td>1.96542</td>
                    </tr>
                    <tr>
                        <td>ETH/BTC</td>
                        <td>2343.22</td>
                    </tr>
                    <tr>
                        <td>LTC/DOGE</td>
                        <td>15.6893</td>
                    </tr>
        
                    </table>
             </section>
           

        </div>
    </body>
</html>